<!DOCTYPE html>
<html lang="ko">
<head th:replace="include/header">
<meta charset="UTF-8">
<title>리뷰게시판</title>
</head>

<style>
.c {
	text-align: center;
}
</style>

<body>
	<!-- Hero Slider -->
	<section class="bg-cencer bg-cover"
		style="background: url(/img/mainphoto/boardphoto.jpg)">
		<div class="dark-overlay">
			<div class="overlay-content py-5 index-forward">
				<div class="container py-5 mt-5">
					<div class="row py-1 text-white text-center">
						<div class="col-lg-7 mx-auto">
							<h1 class="text-xl">리뷰게시판</h1>
							<p class="lead">매월 15일, 베스트 리뷰 두 분을 선정합니다</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="py-5">
		<div class="container py-5">
			<div class="table">
				<table class="table table-hover">
					<!-- 	<button type="button" style="margin-bottom: 10px" class="btn btn-dark float-right" onclick="location.href='/review/reviewboardinsert'">글쓰기</button>-->
					<thead class="table-active">
						<tr class="c">
							<th>번호</th>
							<th>제목</th>
							<th>게임유형</th>
							<th>작성자</th>
							<th>작성일자</th>
							<th>조회수</th>
							<th>추천수</th>
						</tr>
					</thead>
					<tbody class="c">
						<tr th:each="reviewboard:${a}"
							th:onclick="'window.location.href=\'/review/reviewboarddetail/' + ${reviewboard.bno} + '\''">
							<td th:text=${reviewboard.bno}></td>
							<td th:text=${reviewboard.title}></td>
							<td th:text=${reviewboard.type}></td>
							<td th:text=${reviewboard.writer}></td>
							<td th:text=${reviewboard.nal}></td>
							<td th:text=${reviewboard.a_chu}></td>
							<td th:text=${reviewboard.c_num}></td>
						</tr>
					</tbody>
				</table>
				<br /> <br /> <
				<button type="button" class="btn btn-outline-secondary float-right"
					onclick="location.href='/review/reviewboardinsert'">글쓰기</button>
				<div class="text-center">
					<ul class="pagination justify-content-center">
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">4</a></li>
						<li class="page-item"><a class="page-link" href="#">5</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</body>
</html>