<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/header">
<meta charset="UTF-8">
</head>

<body>
	<!-- Hero Slider -->
	<section class="bg-cencer bg-cover"
		style="background: url(/img/mainphoto/1.jpg);">
		<div class="dark-overlay">
			<div class="overlay-content py-5 index-forward">
				<div class="container py-5 mt-5">
					<div class="row py-1 text-white text-center">
						<div class="col-lg-7 mx-auto">
							<h1 class="text-xl">스토리 길잡이</h1>
							<p class="lead">다양한 스토리를 이용한 문화재에 대해 알아볼까요?</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="py-5">
		<div class="container py-2">
		 <h1 style="font-family: 'Nanum Gothic', sans-serif;">스토리 만들기 </h1><hr>
			<form action="/storymake/save" method="post">

				<div class="form-group">
					<!-- <label>지역</label> 
					<select name="area_num" id="area_num">
						<option th:each="area:${areaList}" th:text=${area.area_name}
							th:value=${area.area_num}></option> -->
							
					<label style="font-weight:bold;">지역</label>
					<select class="form-control form-control-lg" name="area_num" id="area_num">
					<option th:each="area:${areaList}" th:text=${area.area_name} th:value=${area.area_num}></option>
					</select>
				</div>

				<div class="mb-7">
					<label for="title" style="font-weight:bold;">제목</label> 
					<input name="s_title" id="s_title" type="text" class="form-control" placeholder="제목을 입력해 주세요">
						<br>
				</div>

				<div class="mb-7">
					<label for="content" style="font-weight:bold;">스토리설명</label>
					<textarea name="s_content" class="form-control" rows="8"
						placeholder="스토리에 대한 설명을 입력해주세요"></textarea>
				</div>
				<hr>
				<div>
					<button type="submit" class="btn btn-primary float-right float-right" id="save">다음</button>
					<button type="button" class="btn btn-secondary float-right float-right mr-1" id="cancel">취소</button>
				</div>
			</form>
		</div>
	</section>
</body>

</html>