<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- <head th:replace="include/headShare"> -->
<meta charset="UTF-8">
<header th:replace="include/header"></header>
<link
   href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Do+Hyeon|Jua|Nanum+Gothic|Sunflower:300"
   rel="stylesheet">
<link
   href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Do+Hyeon|Jua|Nanum+Gothic|Sunflower:300"
   rel="stylesheet">

</head>

<body>
   <!-- Hero Slider -->
   <section class="bg-cencer bg-cover"
      style="background: url(/img/mainphoto/2.jpg);">
      <div class="dark-overlay">
         <div class="overlay-content py-5 index-forward">
            <div class="container py-5 mt-5">
               <div class="row py-1 text-white text-center">
                  <div class="col-lg-7 mx-auto">
                     <h1 class="text-xl">빙고길잡이</h1>
						<p class="lead">게임으로 문화재를 알아보자!</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>


   <section class="py-5">
      <div class="container">
      <h1>빙고 등록하기</h1><hr>
         <!-- <h2>빙고 선택지도</h2> -->
         <div id="map" style="width: 1100px; height: 450px;"></div>
         <div style="width: 1200px; text-align: center"></div>
      </div>

      <div class="h3" style="text-align: center">
         <br> 
         <label>
            <p style="font-family: 'Nanum Gothic', sans-serif;">현재 빙고 :</p>
         </label> 
         <label th:if="${nowBingo != null}" id="bingotitle" name="bingotitle"
            th:text=${nowBingo.b_title}></label> <label
            th:unless="${nowBingo != null}" id="bingotitle" name="bingotitle"
            th:text='없음'> <input id="b_num" type="hidden"
            th:value=${nowBingo.b_num}></label> <input
            th:if="${nowBingo != null}" id="b_num" type="hidden"
            th:value=${nowBingo.b_num}> <input
            th:unless="${nowBingo != null}" id="b_num" type="hidden"
            th:value="없다">
      </div>

      <!--소제목-->


      <!--영역 나누기 선-->
      <!--    <div class="vl" style="border-left: 2px solid gray; height: 600px;">
      </div>
 -->

      <div class="container">
         <div class="row">
            <div class="col-sm-5">
               <form method="POST" id="form" action="/bingo/otherSave">
                  <div id="c_list" style="text-align: center;">
                     <label for="reg_id">문화재 목록</label>
                     <hr>
                     <div id="addList" name="addList">
                        <ul th:each="bingocultureList:${bingocultureList}">
                           <li th:text=${bingocultureList.c_name}></li>
                        </ul>
                     </div>
                  </div>
            </div>


            <div class="col-sm-7">
               <div style="text-align: center">
                  <label for="content">게임목록</label>
                  <hr>
                  <div id="addHint" name="addHint"></div>
               </div>
            </div>
         </div>
	   <!-- 버튼타입 체크 데이터 등록 or 수정 -->
		<input type="hidden" th:value="${addcheck}" id="addcheck">
         <div>
         	<br>
         	 <a class="btn btn-primary float-right"
					th:href="@{/bingo/bingodelete/{b_num} (b_num=${nowBingo.b_num})}">삭제</a>
            <input type="button" class="btn btn-primary float-right mr-1 " value="등록" id="save2"> 
            <button type="button" class="btn btn-primary float-left" id="reset">초기화</button>
         </div>
      </div>

      <!-- <footer class="footer" th:replace="include/footer"></footer> -->
   </section>
   
</body>
<!--Footer-->

<script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=4f9c5b41cdef9519134cf34d948fca04&libraries=clusterer"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>


	<script th:inline="javascript">
	
		var data = [[${cultureList}]];
		
		console.log(data);
		
		
		var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
		mapOption = {
			center : new kakao.maps.LatLng(35.896285, 128.622003), // 지도의 중심좌표
			level : 10
		// 지도의 확대 레벨
		};
	
		var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

		
		// 마커 클러스터러를 생성합니다 
	    var clusterer = new kakao.maps.MarkerClusterer({
	        map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체 
	        averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정 
	        minLevel: 10 // 클러스터 할 최소 지도 레벨 
	    });
		
		
		// 마커들을 클러스터러로 묶기위한 변수
		var markers = [];
		
		
		// 미리 저장되어있는 마커들을 불러오는 for문
		for(var i=0; i < data.length; i++) {
			// 지도를 클릭한 위치에 표출할 마커입니다
			var marker = new kakao.maps.Marker({
				// 마커를 생성합니다 
				position: new kakao.maps.LatLng(data[i].c_latitude, data[i].c_longitude),
				map: map
			});
			
			
			
			// 마커를 클릭했을 때 마커 위에 표시할 인포윈도우를 생성합니다
			var iwContent ='<div style="font-size:15px; text-align:center;">' + data[i].c_name + '</div>' + 
							'<div style="width:150px; text-align:center; padding:5px;"><button id="test" onclick="c_update('+ "'" + data[i].c_name + "'" + ');" style="width:80px; height:20px; font-size:12px;">등록하기</button></div>', 
							// 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
			    iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다

			// 인포윈도우를 생성합니다
			var infowindow = new kakao.maps.InfoWindow({
			    content : iwContent,
			    removable : iwRemoveable
			});

			 
			
			// 마커 클러스터러에 마커들 담기
			markers.push(marker);
			
			// 마커 클릭 시 인포윈도우 표시
			kakao.maps.event.addListener(marker, 'click', clickListener(map, marker, infowindow));
			
		}
		
		// 클러스터러에 마커들을 추가합니다
        clusterer.addMarkers(markers);
       
		
		
     // 마커에 클릭이벤트를 등록합니다
		function clickListener(map, marker, infowindow) {
    		return function() {
    			// 마커 위에 인포윈도우를 표시합니다
  		      infowindow.open(map, marker);
    		};
		}

		var count = 1;	
		$("#reset").on("click", function() {
			$( "#addList" ).empty();
			count = 1;
		});
		function c_update(name) {
			
			if(count>10){
				alert("더 이상 등록할 수 없습니다.");
				return; 
			}
			
			alert("추가되었습니다.");
			
			
			$("#reset").on("click", function() {
				$( "#addList" ).empty();
				count = 1;
			});
			
			var total = document.getElementById('addList');
			
			
			
			// 추가할 Div 태그 생성
			var addDiv = document.createElement('div');
			
			// 추가할 Div의 아이디 추가
			addDiv.id = 'c_list_' + count;
			
			// div 추가
			total.appendChild(addDiv);
			
			// 추가한 Div의 아이디
			var nowNum = document.getElementById('c_list_' + count);
			
			
			
			
			
			// 몇번째 문화재인지 적어줄 label 추가
			var addLabelNum = document.createElement('label');

			addLabelNum.id = 'c_num' + count;
			
			addLabelNum.innerHTML = count + '번 문화재 : ' + '&nbsp';
			
			addDiv.appendChild(addLabelNum);
			
			
			
			
			// 추가한 Div에 들어갈 label 추가
			var addButton = document.createElement('button');
			
			// 추가할 label 아이디 추가
			addButton.id = "c_Button" + count;
			
			// label에 name 추가
			addButton.setAttribute('name', 'c_' + count);
			
			addButton.setAttribute('type', 'button');
			
			// label에 문화재 이름 추가
			addButton.innerHTML = name;
			
			// label 추가
			nowNum.appendChild(addButton);
			
			var hidden = document.createElement('input');
			
			hidden.id = "culturalId" + count;
			
			addDiv.appendChild(hidden);
			
			
			
			
			var hiddenName = document.getElementById('culturalId' + count);
			
			hiddenName.setAttribute('name', 'cultural' + count);
			hiddenName.setAttribute('type', 'hidden');
			hiddenName.setAttribute('value', name);
			
			
			
			 if(count == 1) {
				var c_count = document.createElement('input');
				
				c_count.id = "c_count";
				
				addDiv.appendChild(c_count);
				
				var hiddenCount = document.getElementById('c_count');
				
				hiddenCount.setAttribute('name', 'count');
				hiddenCount.setAttribute('type', 'hidden');
				hiddenCount.setAttribute('value', count);
			}
			else {
				var hiddenCount = document.getElementById('c_count');
				
				hiddenCount.setAttribute('value', count);
			}
								
			 count = count + 1;
		}
		$(document).ready(function() {
			// if=텍스트힌트를 선택 => else=저장을 클릭시 ajax요청
			$("#save2").on('click', function(e) {
				
				var count = $('#c_count').val();
				var a = new Array();
				for(var i=0; i<count; i++){
					var b = $('#culturalId'+(i+1));
					console.log(b.val());
					a.push(b.val());
				}
				
				var BingoNum = document.getElementById('b_num');
				var data = {
						list : a,
						b_num : BingoNum.value
				}
				console.log(data);
				var addcheck = document.getElementById('addcheck').value;
				
				if(addcheck==0){
					console.log("입력!");
				$.ajax({					
					url: "/bingo/otherSave",
					type: "POST",
					data: data,
					success: function(data) {
						alert("입력성공");
						console.log("입력데이터 보낸거 성공");
					},
					error: function(jqXHR, textStatus, errorThrown) {
						alert(jqXHR.responseText);
						console.log("입력데이터 보낸거 실패");
					}
					});
				}else{
					console.log("수정!");
					$.ajax({
						url: "/bingo/updateSave",
						type: "POST",
						data: data,
						success: function(data) {
							alert("수정성공");
							console.log("수정데이터 보낸거 성공");
						},
						error: function(jqXHR, textStatus, errorThrown) {
							alert(jqXHR.responseText);
							console.log("수정데이터 보낸거 실패");
						}
					});
				}
					
			});
		
		});
		
			
	</script>
</html>